<div class="card h-100">
  <a [routerLink]="['/carnets', item.id]" class="d-flex flex-column h-100">
    <img class="card-img-top" [src]="item.profile_image" alt="" />

    <div class="card-body d-flex flex-column">
      <div class="card-title text-center">
        <b>{{ item.name }} {{ item.last_name }}</b>
      </div>
      <div class="card-text text-center flex-grow-1">
        {{ getDepartmentName(item.department_id) | async }}
      </div>
      <figure class="d-flex justify-content-center">
        <img [src]="item.qr_image" alt="" style="width: 60%" />
      </figure>
    </div>
  </a>
</div>
