.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.content {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  max-width: 600px;
  text-align: center;
}

h4 {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 10px;
}

h5 {
  font-size: 1.2em;
  color: #666;
  margin-bottom: 20px;
}

zxing-scanner {
  display: block;
  margin: 30px auto;
  max-width: 95%;
}

app-alert {
  margin-top: 20px;
}

.border {
  border: 2px solid #007bff;
  border-radius: 8px;
  padding: 20px;
}
