.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content {
  background-color: #f1f5f9;
  padding-top: 5rem;
  padding-bottom: 5rem;
  text-align: center;
}

zxing-scanner {
  margin: 0 auto;
  width: 80%;
}
