.example-spacer {
  flex: 1 1 auto;
}

h1 {
  padding: 0 1rem;
}

h2 {
  padding: 1rem;
}

.img-responsive {
  max-width: 35%;
  height: auto;
  @media screen and (min-width: 600px) {
    max-width: 15%;
  }
}

.fixed-button {
  position: fixed;
  top: 70px;
  left: 75px;
  z-index: 1050;
  transition: right 0.3s ease;
}

.fixed-button.active {
  left: 250px;
}

.fixed-button.mobile {
  top: 50px;
  left: 0px;
}

mat-toolbar {
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: #1e3148;
  color: white;
}

mat-sidenav-container {
  height: 100%;
}

.expanded {
  width: 250px;
}

/* spinner*/

.spinner-background {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(128, 128, 128, 0.5);
  z-index: 9999;
  pointer-events: all;
}

.spinner-background.loading {
  pointer-events: none;
}

.spinner-position {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
}

//responsive

mat-sidenav {
  background-color: #1e3148;

  padding-top: 3.5rem;
  @media screen and (min-width: 600px) {
    padding-top: 4rem;
  }

  .entry {
    color: white;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.75rem;
  }
}

mat-sidenav-content {
  padding-top: 3.5rem;
  @media screen and (min-width: 600px) {
    padding-top: 4rem;
  }
}
