<mat-toolbar>
  <img
    [routerLink]="['/home']"
    class="img-responsive"
    src="./assets/images/Qrscan.svg"
    alt="Logo"
  />
  <button
    *ngIf="(headerMenusService.headerManagement | async)?.showAuthSection"
    class="btn btn-primary rounded-circle mt-3 mx-3 fixed-button"
    [class.active]="isCollapsed"
    [class.mobile]="isMobile"
    (click)="toggleMenu()"
  >
    <i class="fa-solid fa-bars"></i>
  </button>

  <span class="example-spacer"></span>
  <i class="fa-solid fa-circle-user"></i>
  <button mat-button [matMenuTriggerFor]="menu">
    {{
      (headerMenusService.headerManagement | async)?.showNoAuthSection
        ? "Inicie sesión"
        : (getAdminName(adminId ? adminId : "1") | async)
    }}
  </button>
  <mat-menu #menu="matMenu">
    <a
      mat-menu-item
      *ngIf="(headerMenusService.headerManagement | async)?.showAuthSection"
      [routerLink]="['perfil']"
    >
      <span>Perfil de usuario</span>
    </a>
    <button
      mat-menu-item
      *ngIf="(headerMenusService.headerManagement | async)?.showAuthSection"
      (click)="logout()"
    >
      <span>Cerrar sesión</span>
    </button>
    <a
      mat-menu-item
      *ngIf="(headerMenusService.headerManagement | async)?.showNoAuthSection"
      [routerLink]="['perfil']"
    >
      <span>Iniciar sesión</span>
    </a>
  </mat-menu>
</mat-toolbar>

<div
  class="spinner-background loading"
  *ngIf="loaderService.isLoading$ | async"
>
  <mat-spinner class="spinner-position"> </mat-spinner>
</div>
<mat-sidenav-container autosize>
  <mat-sidenav
    *ngIf="(headerMenusService.headerManagement | async)?.showAuthSection"
    [ngClass]="isCollapsed ? 'expanded' : ''"
    [mode]="isMobile ? 'over' : 'side'"
    [opened]="isMobile ? 'false' : 'true'"
  >
    <mat-nav-list>
      <!-- NO AUTH REQUIRED -->
      <div
        *ngIf="(headerMenusService.headerManagement | async)?.showNoAuthSection"
      ></div>
      <!-- AUTH REQUIRED -->
      <div
        *ngIf="(headerMenusService.headerManagement | async)?.showAuthSection"
      >
        <a
          *ngIf="userRolIn(['Admin-1', 'Admin', 'Admin-2']) === true"
          mat-list-item
          [routerLink]="['/dashboard']"
        >
          <span class="entry">
            <i class="fa-solid fa-gauge"></i>
            <span *ngIf="isCollapsed">Dashboard</span>
          </span>
        </a>
        <a
          *ngIf="userRolIn(['Admin-1', 'Admin']) === true"
          mat-list-item
          [routerLink]="['/usuarios']"
        >
          <span class="entry">
            <i class="fa-solid fa-user"></i>
            <span *ngIf="isCollapsed">Usuarios</span>
          </span>
        </a>
        <a
          *ngIf="userRolIn(['Admin-1', 'Admin']) === true"
          mat-list-item
          [routerLink]="['/departamentos']"
        >
          <span class="entry">
            <i class="fa-solid fa-building-user"></i>
            <span *ngIf="isCollapsed">Departamentos</span>
          </span>
        </a>
        <a
          *ngIf="userRolIn(['Admin-1', 'Admin']) === true"
          mat-list-item
          [routerLink]="['/eventos']"
        >
          <span class="entry">
            <i class="fa-regular fa-calendar"></i>
            <span *ngIf="isCollapsed">Eventos</span>
          </span>
        </a>
        <a *ngIf="userRolIn(['Admin-1', 'Admin']) === true" mat-list-item>
          <span class="entry" [routerLink]="['/horarios']">
            <i class="fa-solid fa-clock"></i>
            <span *ngIf="isCollapsed">Horarios</span>
          </span>
        </a>
        <a
          *ngIf="userRolIn(['Prueba']) === true"
          mat-list-item
          [routerLink]="['/roles']"
        >
          <span class="entry">
            <i class="fa-solid fa-users-rectangle"></i>
            <span *ngIf="isCollapsed">Roles</span>
          </span>
        </a>
        <a
          *ngIf="userRolIn(['Admin']) === true"
          mat-list-item
          [routerLink]="['/admins']"
        >
          <span class="entry">
            <i class="fa-brands fa-black-tie"></i>
            <span *ngIf="isCollapsed">Administradores</span>
          </span>
        </a>
        <a
          mat-list-item
          [matMenuTriggerFor]="menu"
          *ngIf="userRolIn(['Admin-1', 'Admin-2', 'Admin']) === true"
        >
          <span class="entry">
            <i class="fa-solid fa-file-circle-check"></i>
            <span *ngIf="isCollapsed">Reportes</span>
          </span>
        </a>
        <mat-menu #menu="matMenu">
          <a
            mat-menu-item
            *ngIf="userRolIn(['Admin-1', 'Admin-2', 'Admin']) === true"
            [routerLink]="['/reporte/carnets']"
          >
            <span>Carnets de usuario</span>
          </a>
          <a
            mat-menu-item
            *ngIf="userRolIn(['Admin-1', 'Admin-2', 'Admin']) === true"
            [routerLink]="['/reporte/individual']"
          >
            <span>Reporte de usuario</span>
          </a>
          <a
            mat-menu-item
            *ngIf="userRolIn(['Admin-1', 'Admin-2', 'Admin']) === true"
            [routerLink]="['reporte/general']"
          >
            <span>Reporte General</span>
          </a>
        </mat-menu>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
