<app-alert></app-alert>
<app-breadcrumbs></app-breadcrumbs>

<div class="container-main">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2 class="text-center mb-5">Registro de Eventos</h2>
      <form class="form mx-3" [formGroup]="eventForm" (ngSubmit)="saveEvent()">
        <div class="mb-2">
          <label class="form-label" for="name">Nombre: </label>
          <input class="form-control" type="text" [formControl]="name" />
          <div
            *ngIf="name.errors && isValidForm != null && !isValidForm"
            [ngClass]="'error'"
          >
            <div *ngIf="name.errors.required">El nombre es requerido</div>
            <div *ngIf="name.errors.minlength">
              El nombre debe tener el menos 5 caracteres
            </div>
            <div *ngIf="name.errors.maxlength">
              El nombre debe tener una longitud máxima de 255 caracteres
            </div>
          </div>
        </div>
        <div class="mb-2">
          <label class="form-label" for="change_attendance"
            >Cambio de registro (minutos):
          </label>
          <input
            class="form-control"
            type="number"
            [formControl]="change_attendance"
          />
          <div
            *ngIf="
              change_attendance.errors && isValidForm != null && !isValidForm
            "
            [ngClass]="'error'"
          >
            <div *ngIf="change_attendance.errors.required">
              El cambio de registro es requerido
            </div>
            <div *ngIf="change_attendance.errors.max">
              El cambio de registro no debe superar 5 digitos
            </div>
          </div>
        </div>
        <div class="mb-2">
          <label class="form-label" for="name">Descripción: </label>
          <textarea
            class="form-control"
            type="text"
            [formControl]="description"
          ></textarea>
          <div
            *ngIf="description.errors && isValidForm != null && !isValidForm"
            [ngClass]="'error'"
          >
            <div *ngIf="description.errors.required">
              La descripción es requerida
            </div>
            <div *ngIf="description.errors.minlength">
              La descripción debe tener el menos 5 caracteres
            </div>
            <div *ngIf="description.errors.maxlength">
              La descripción debe tener una longitud máxima de 255 caracteres
            </div>
          </div>
        </div>

        <button class="btn btn-primary mt-4" type="submit">Guardar</button>
      </form>
    </div>
  </div>
</div>
