.breadcrumb {
  max-width: 100%;
  padding-left: 15px;
  margin: 0 auto;
  background-color: rgba(233, 233, 233, 0.542);
  width: auto;
  color: #1e3148;
  font-weight: 900;
}

a {
  text-decoration: none;
}
