ul {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 200px; /* Ajusta la altura máxima si es necesario */
  overflow-y: auto;
  border: 1px solid #ccc;
  background-color: #fff;
  width: 100%;
  box-sizing: border-box;
}

li {
  padding: 8px;
  cursor: pointer;
}

li:hover {
  background-color: #f0f0f0;
}
