.container-main {
  width: 85%;
  margin: 0 auto;

  @media screen and (max-width: 760px) {
    width: 90%;
  }
}

.addBtn {
  margin-top: 2rem;
}

.table {
  margin-top: 2.2rem;
}

.error {
  color: red;
  padding: 3px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
